target
Servers/*
.recommenders
.metadata
.classpath
.settings
.project
jackrabbit
*.log
catalina.base_IS_UNDEFINED
maven-eclipse.xml
.externalToolBuilders
.springBeans
*.iml
*.swp
integration/jmeter
bin
.idea/
*/*/overlays/
*.orig
